---
import Logo from '/img/javascript.png'
---

<div class='menu'>
    <div class='menu__logo'>
        <div>
            <img src={Logo} alt='logo' width="40rem">
        </div>

        <div>
            <h4> Company </h4>
        </div>
    </div>
    <nav class='menu__nav'>
        <div class='menu__nav-items'>
            <div>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                    <path fill='red' d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
                </svg>
            </div>

            <div>
                <p> Company </p>
            </div>
        </div>

        <a href='/'>
            <div class='menu__nav-items'>
                <div>
                    <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                        <path fill='red' d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
                    </svg>
                </div>
                
                <div>
                    <p> Home </p>
                </div>
            </div>
        </a>

        <div class='menu__nav-items'>
            <div>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                    <path fill='red' d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
                </svg>
            </div>
            
            <div>
                <p> About </p>
            </div>
        </div>

        <a href='/login'>
            <div class='menu__nav-items'>
                <div>
                    <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                        <path fill='red' d="M4,6H2V20A2,2 0 0,0 4,22H18V20H4V6M20,2A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H8A2,2 0 0,1 6,16V4A2,2 0 0,1 8,2H20M17,7A3,3 0 0,0 14,4A3,3 0 0,0 11,7A3,3 0 0,0 14,10A3,3 0 0,0 17,7M8,15V16H20V15C20,13 16,11.9 14,11.9C12,11.9 8,13 8,15Z" />
                    </svg>
                </div>
                
                <div>
                    <p> Login </p>
                </div>
            </div>
        </a>

    </nav>
</div>

<style>
    .menu {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: aqua;
        color: steelblue;
    }

    a {
        text-decoration: none;
    }

    .menu__logo {
        justify-content: space-around;
    }

    .menu__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .menu__nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
