
<section class="section" id="section-header">
    <div class="section-header">
        <h3 class="section-header-title">SECTION HEADER MOBILE</h3>
        <h4 class="section-header-subtitle">SUB-TITLE</h4>
    </div>
    
    <div class="section-body">
        <p class="section-body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quas quibusdam earum, voluptatibus similique impedit consectetur, ab praesentium aliquid, dolores eaque illum quae. Harum, libero. Tenetur vero blanditiis necessitatibus optio.
        Unde ipsam facere dignissimos temporibus, nesciunt fuga consequuntur provident quaerat iste laudantium amet corporis officiis ad, officia reiciendis! Labore non ut et vitae nisi provident possimus deserunt ea pariatur perferendis.</p>
    </div>
</section>

<style>
    
    .section {
        height: 40rem;
        padding: 1rem;
    }

    .section-body {
        
    }

    .section-header-title {
        text-align: center;
        color: #1E88E5;
    }

    .section-header-subtitle {
        text-align: center;
        color: #616161;
    }

    .section-body-text {
        text-align: center;
        color: #9E9E9E;
    }

</style>