---
import Logo from '/logo128.png'
---

<div class="menu">
    <div class="menu__company">
        <div>
            <img class="menu__company-logo" src={Logo} alt='Logo'/>
        </div>
        <h4 class="menu__company-name">COMPANY</h4>
    </div>
    <nav class="menu__nav">
        
        <a href="/">
            <div class="menu__nav-ul">
                <div>
                    <svg class='menu__nav-ul-icon' viewBox="0 0 24 24"><title>arrow-left-circle</title><path d="M2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12M18,11H10L13.5,7.5L12.08,6.08L6.16,12L12.08,17.92L13.5,16.5L10,13H18V11Z" /></svg>
                </div>
                <div>
                    <p class="menu__nav-ul-name">Atras</p>
                </div>
            </div>
        </a>

    </nav>
</div>

<style>
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        background-color: #1565C0;
    }

    .menu__company {
        display: flex;
        align-items: center;
    }

    .menu__company-logo {
        color: white;
        width: 3rem;
    }

    .menu__nav {
        display: flex;
        align-items: center;
    }

    .menu__nav-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        border-radius: .5rem;
        padding: 0 .8rem;
    }

    .menu__nav-ul:hover {
        transition: .5s;
        background-color: #757575;
        cursor: pointer;
    }

    .menu__nav-ul-icon {
        width: 1.5rem;
        fill: white;
    }

    .menu__nav-ul-name {
        color: white;
    }

</style>