
<div>
    <h2>SECTION 03</h2>
</div>

<style>
    div {
      display: block;
      margin: 0;
      padding: 1rem;
      width: 100%;
      height: 30rem;
      background-color: #11c574;
      color: white;
      text-align: center;
    }
</style>