---
// Styles
import '../assets/css/global-styles.css'

import SectionLoginDesktop from '../views/login/SectionLoginDesktop.astro'

// Views
import MenuDesktop from '../views/menu/MenuDesktop.astro'
import Card01 from '../views/cards/Card01.astro' 
---

<script>

</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<MenuDesktop></MenuDesktop>
		<Card01></Card01>
	</body>
</html>
