---
import MenuDesktop from "../menus/menus-doubles/MenuDesktop.astro";
import MenuMobile from "../menus/menus-doubles/MenuMobile.astro";
import Section01 from "../menus/menus-doubles/sections/Section01.astro";
import Section02 from "../menus/menus-doubles/sections/Section02.astro";
import Section03 from "../menus/menus-doubles/sections/Section03.astro";
import Section04 from "../menus/menus-doubles/sections/Section04.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- <MenuDesktop></MenuDesktop>
		<Section01></Section01>
		<Section02></Section02>
		<Section03></Section03>
		<Section04></Section04> -->
		<MenuMobile></MenuMobile>
	</body>
</html>
